<a href="https://colab.research.google.com/github/PetrV11/Sechenov/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# задание 1
print('Hello Word')

In [ ]:
# задание 2 ТРИ ВАРИАНТА Датчики температуры
print ("------ВАРИАНТ КОДА 1---------------")
print('4 8 15 16 23 42')
print ("------ВАРИАНТ КОДА 2---------------")
print('4','8','15','16','23','42')
print ("------ВАРИАНТ КОДА 3---------------")
print('4','','8','', '15','', '16','', '23','', '42')

In [ ]:
# задание 3
for i in range(8):
    print("*"*i)

In [ ]:
# задание 4
dohod = (1200000, 1350000, 1280000, 1420000)
print('Отчёт о доходах')
for i in range(4):
       print(i+1, 'квартал:', dohod[i], 'руб.')

In [ ]:
# задание 5
name = input("Здравствуйте, как вас зовут?")
print('Добро пожаловать в команду,', name)

In [ ]:
# задание 6
name = input("Введите название компании")
print(name, '-лидер рынка!')

In [ ]:
# задание 7
name = input("Введите название набора данных Sales Q1   ")
strok = input( "Введите количество строк 1000   ")
stolb = input( "Введите количество столбцов 8   ")
# задание 7 результат вариант 1
print ("------ВАРИАНТ КОДА 1---------------")
print(f"Name: {name}\nStrok: {strok}\nStolb: {stolb}")
# задание 7 результат вариант 2
print ("-----ВАРИАНТ КОДА 2----------------")
print(f"{name}\n{strok}\n{stolb}")

In [ ]:
# задание 8
kvartal01 = dict(otchet01="Продажи за январь",otchet02="Продажи за февраль", otchet03="Продажи за март")
#for keys,values in kvartal01.items():
#   print(keys)
#   print(values)
kvartal01_NEW = list(kvartal01.items())
#print(kvartal01_NEW)
kv = kvartal01_NEW.reverse()
#print(kv)
print ("ВАРИАНТ КОДА 1")
print(kvartal01_NEW[0][1])
print(kvartal01_NEW[1][1])
print(kvartal01_NEW[2][1])
print ("ВАРИАНТ КОДА 2")
#print(f"{kvartal01_NEW[0][1]}\n{kvartal01_NEW[1][1]}")  #РАБОТАЕТ
print(f"{kvartal01_NEW[0][1]}\n{kvartal01_NEW[1][1]}\n{kvartal01_NEW[2][1]}")

In [ ]:
# задание 9
base_price = 100
growth_percent = 20
new_price = base_price + base_price/100*growth_percent
delta = new_price - base_price
print("new_price =", new_price)
print("delta =", delta)

In [ ]:
# задание 10
print("Северный", "Центральный", "Южный", sep='***')

In [ ]:
# задание 11
name = input("введите ваше имя  ")
#print("Подключение установлено.Добро пожаловать,", name, end="!" )
print("Подключение установлено.", end=" ")
print("Добро пожаловать,", name, "!")

In [ ]:
# задание 12
print("Молоко", "Хлеб", "Сыр", sep="|")

Молоко|Хлеб|Сыр

In [ ]:
# задание 13
value_str = "42.7"
print("integer_part ", int(float(value_str)))

In [ ]:
# задание 14
orders_yesterday = 10
plan = 20
print("Абсолютное отклонение от плана равняется ", abs(orders_yesterday - plan))

In [ ]:
# задание 15
numbers = []
for _ in range(5):
    num = int(input("введите целое число  ", ))
    numbers.append(num)
min_num = min(numbers)
max_num = max(numbers)
print(f"Наименьшее число = {min_num}")
print(f"Наибольшее число = {max_num}")

In [ ]:
# задание 16
name = input("Назовите ваше имя  ")
fam = input("Назовите вашу фамилию  ")
print("Привет, ", name, " ", fam, "! ", "Вы только что начали изучать Python")

In [ ]:
# задание 17
print("ПОВТОРИТЕ ВВОД ПО ПОДСКАЗКАМ")
zit1 = input("ВВЕДИТЕ 1-ую. ЧАСТЬ цитаты: Каждый в этой стране должен научиться программировать, ")
zit2 = input("ВВЕДИТЕ 2-ую ЧАСТЬ цитаты: потому что это учит думать. ")
print("«", zit1, zit2, "»")

In [ ]:
# задание 18
summa_pokupki = int(input(" ВВЕДИТЕ СУММУ ПОКУПКИ "))
print( summa_pokupki > 1000)

In [ ]:
# задание 19
vozrast = int(input(" ВВЕДИТЕ ВОЗРАСТ "))
print( vozrast > 18)

In [ ]:
# задание 20
vol = 500
vel01 = 50
vel02 = 70
print(vol/(vel01+vel02))

4.166666666666667

In [ ]:
# задание 21
a = 443
b = 390
print("Площадь треугольника " , a*b/2)

In [ ]:
# задание 22
t_far = 450.55
print( 5/9*(t_far - 32))

In [ ]:
# задание 23
revenue_str = (438746.78)
courier_name = ("Антон")
bonus = float(revenue_str)/100
print( "курьер ", courier_name, "получит бонус ", int(float(revenue_str)/100), "р.")